/* COMMON */
body{
  color: #333;
  font-size: 16px;
  font-size: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
img{
  display: block;
}
a{ /*밑줄제거*/
  text-decoration: none;
}

/* HEADER */ 
header{
  background-color: royalblue;
}

header .inner{
  width: 1100px;
  height: 120px;
  margin :0 auto;
  background-color: orange;
  position: relative;
}
header .logo{
  height: 75px;
  position : absolute; /*배치::구조적인 부모요소 inner*/
  top: 0;
  bottom: 0;
  left: 0; /*inner요소를 기준으로 왼쪽에 붙어있다*/
  margin: auto; 
  display: none;
}
header .sub-menu {

}
header .sub-menu ul.menu { /*메뉴를 수직으로 쌓아보자*/
  font-family: Arial, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li{
  position: relative;
}
header .sub-menu ul.menu li::before{ /*::는 가상요소 선택자*/
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before{
  display: none; /*젤 앞 구분선 삭제*/
}
header .sub-menu ul.menu li a{

  font-size: 12px;
  padding: 11px 16px;
  display: block; /*인라인 요소에서 가상요소로 들어간다*/
  color: #656565;
}

header .sub-menu ul.menu li a:hover{ /*마우스 올라갔을때 글자색변경*/
  color:#000000;
}
header .sub-menu .search{
  
}
header .sub-menu .search input{
  
}
header .sub-menu .search .material-icon {
  
}